.search-container{
  display: inline-block;
}

.search-input {
  padding: 11px 45px;
  font-size: 16px;
  color: gray;
  border: none;
  position: relative;
}
.search-icon , .search-input {
    color:gray;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: gray;
  font-size: larger;
  z-index: 2000;
}
